

/** --------------------------------------------
    Global Styling Rules
--------------------------------------------- */

button#world-anvil {
    flex: 0 0 32px;
}
button#world-anvil img {
    position: relative;
    top: 4px;
    border: none;
}
.wa-link {
    padding: 1px 4px 1px 18px;
    margin: 0;
    white-space: nowrap;
    word-break: break-all;
    background: #DDD;
    background-image: url(icons/wa-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 2px 1px;
    border: 1px solid #444;
    border-radius: 2px;
}
.wa-link:hover {
    text-shadow: 0 0 4px red;
    cursor: pointer;
}

/** --------------------------------------------
    Application Styling Rules
--------------------------------------------- */

.world-anvil .world-description {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.world-anvil header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.world-anvil header.section {
    border-bottom: 2px solid darkred;
    margin-bottom: 5px;
}
.world-anvil header h2 {
    border-bottom: none;
    margin: 0;
}
.world-anvil header h3 {
    margin: 0;
}
.world-anvil header .controls {
    flex: 1;
    text-align: right;
}

.world-anvil .world-anvil-link {
    flex: 1;
    margin: 0;
    padding-left: 20px;
    background-image: url(icons/wa-icon.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 50%;
    color: #191813;
    text-decoration: none;
}

.world-anvil a.article-link {
    color: #191813;
    text-decoration: none;
}

.world-anvil .world-anvil-control {
    width: auto;
    height: 24px;
    margin: 0;
    padding: 0 4px;
    line-height: 24px;
    text-align: center;

}


/** --------------------------------------------
    Journal Entries
--------------------------------------------- */

.journal-sheet.world-anvil .image-thumb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.journal-sheet.world-anvil .image-thumb-container img {
    max-width: 320px;
    max-height: 480px;
}

dt {
    font-weight: bold;
}

dd {
    padding-left: 5px;
    margin: 3px 0;
}

